*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 32, 53);
    font-family: sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    
}

#menu-toggle,
.menu-label{
    display: none;
}
img{
    width: fit-content;
    height: 4em;
    
    align-self: flex-start;
    border-radius: 0.4ch;
    border-color: black;
}
.hero{
    margin-left: 0.5em;

}
.svg{
    align-self:flex-start;
    height: 4em;
    margin-left: 0.5em;
}
.logo{
    width:15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    margin-left: 1em;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
    z-index: 2;
}
ul a{
    color: white;
    text-decoration: none;
    margin-right: 0.5em;
}
ul{
    list-style: none;
    display: flex;
    gap: 2em;
}

.hero-section{
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
   
    gap: 5em;
   padding-top: 4em;
    
}
.hero-text{
   
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 50%;
}
.title{
    
}
.title h1{
    font-size: 5em;
    color: beige;
}


.mision h3{
    font-size: 1.8em;
    color: aliceblue;
}
.links{
    display: flex;
    justify-content: space-around;
}
.enlace{
    border-radius: 5em;
    padding: 0.5em;

}
.enlace1{
    background-color: black;

}
.enlace1 a{
    text-decoration: none;
    color: aliceblue;
}
.enlace2{
    background-color: rgb(252, 252, 252);
    border-color: black;
    border-style: double;

}
.enlace2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.hero-section img{
    height: 60%;
    width: 35%;
    display: flex;
    
}

.presentacion{
    max-width: 80%;
    margin: auto;
    margin-top: 5em;
}
.presentacion p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4em;
    line-height: 1.8em;
}
.products{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
    margin: auto;
}
.cont-prod{
    width: 20em ;
    height: 25em;
    
    
    
    
    
}
.img{
    width: 12.5em;
    height: 15em;
    background-color: rgba(10, 53, 133, 0.507);
    margin: auto;
    position: static;
    border-radius: 10%;
}
.text{
    position: relative;
    top: 90%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;

}
.text h3{
    padding: 0.08em;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.384);
}
.img{
   
        background-image: url('creaturutina.webp');
        background-size: cover;
        background-position: center;
}
section{
    margin-bottom: 15em;
    
}
footer{
    background-color: rgb(88, 53, 6);
}
.footer{
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    padding: 4em;
    align-items:center;
    justify-content: center;
    
    margin: 0 auto;
    gap: 10rem;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.imgfooter{
    width: 10em;
    height: 20em;
}

    
    

h5{
    font-size: x-large;
    margin-bottom: 2%;
}
.info3 span{
    font-size: 2em;
}
.info3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
}
.contact-list{
    display: flex;
    flex-direction: column;
    
}

.socials-list img{
    max-width: 2.5em;

}
