*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 4em;
    height: 4em;
}
body{
    font-family: sans-serif;
    font-size: 1.2em;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: sticky;
}
ul a{
    color: white;
    text-decoration: none;

}
ul{
    list-style: none;
    display: flex;
    gap: 2em;
}